body  {
  font-size: 24px;
  background-color: lightslategray;
  padding: 8px;
  margin: 8px;
}

.mod-form {
  padding: 8px;
  margin: 8px;
}

.mod-div  {
  padding: 4px;
  margin: 4px;
}